@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /*Colors*/
        --orange: 22, 65%, 57%;
        --light-orange: 21, 94%, 75%;

        --dark: 0, 0%, 6%;
        --pure-dark: 0, 0%, 0%;

        --gray: 0, 0%, 95%;

        --white: 0, 0%, 98%;
        --pure-white: 0, 0%, 100%;

        --background: var(--white);
        --foreground: var(--pure-dark);

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: var(--white);
        --popover-foreground: var(--pure-dark);

        --card: var(--white);
        --card-foreground: var(--pure-dark);

        --border: var(--gray);
        --input: var(--pure-white);

        --primary: var(--orange);
        --primary-foreground: var(--pure-white);

        --secondary: var(--background);
        --secondary-foreground: var(--gray);

        --accent: var(--pure-dark);
        --accent-foreground: var(--pure-dark);

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;

        --ring: 217.2 32.6% 17.5%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
